*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(hotelbackground.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: calc(100% - 20px);
    margin-right: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    margin-left: 0px;
    cursor: pointer;
    z-index: 2;
}

.navbar ul {
    list-style: none;
    display: flex;
    z-index: 2;
}

.navbar ul li {
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

.content h1 {
    font-size: 70px;
    margin-top: 50px;
}

.content p {
    font-size: 20px;
    margin: 20px auto;
    font-weight: 500;
    line-height: 45px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.button-container button {
    margin: 0 15px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-container button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.button-container button:active {
    transform: translateY(-1px);
}

.button {
    position: absolute;
    top: -140px;
    left: 90px;
    border: none;
    background: transparent;
    --stroke-color: #ffffff7c;
    --ani-color: rgba(95, 3, 244, 0);
    --color-gar: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    letter-spacing: 3px;
    font-size: 2em;
    font-family: "Arial";
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--stroke-color);
}

.front-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    background: var(--color-gar);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 500%;
    overflow: hidden;
    transition: all 1s;
    animation: 8s ani infinite;
    border-bottom: 2px solid transparent;
}

.button:hover .front-text {
    width: 100%;
    -webkit-text-stroke: 1px var(--ani-color);
    border-image-slice: 1;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 135deg, rgba(18, 18, 18, 0.2) 25%,
    rgba(26, 26, 26, 0.2) 25%,
    rgba(26, 26, 26, 0.2) 50%, 
    rgba(18, 18, 18, 0.2) 50%, 
    rgba(18, 18, 18, 0.2) 75%, 
    rgba(26, 26, 26, 0.2) 75%,
    rgba(26, 26, 26, 0.2)
    );
    background-size: 40px 40px;
    animation: move 4s linear infinite;
    z-index: 0;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

.room-list {
    color: white;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
}

.photo-item {
    width: 100%;
    height: 350px;
    overflow: hidden; 
}

.photo-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
    margin: auto; 
    margin-top: 50px;
}

    .title {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: -1px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        color: #fff;
        margin-bottom: 20px;
    }

 
.message,
.signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.signin {
    text-align: center;
}

    .signin a:hover {
        text-decoration: underline royalblue;
    }

    .signin a {
        color: #00bfff;
    }

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    display: flex;
    flex-direction: column; 
}

    .form label .input {
        background-color: #333;
        color: #fff;
        padding: 10px;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 10px;
    }

        .form label .input + span {
            color: rgba(255, 255, 255, 0.5);
            font-size: 0.9em;
        }

        .form label .input:focus + span,
        .form label .input:valid + span {
            color: #00bfff;
            font-size: 0.7em;
            font-weight: 600;
        }

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
}

    .submit:hover {
        background-color: #00bfff96;
    }

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: -50px; /* Initially hide the footer off the screen */
    width: 100%;
    transition: bottom 0.3s; /* Add smooth transition */
}

/* Define the area to trigger the footer */
.container:hover + footer,
footer:hover {
    bottom: 0; /* Display the footer when hovering over .container or footer itself */
}

    